html {
    scroll-behavior: smooth;
  }


body{
    text-align:center;
    background:#f9f9f9;

}
.content{
    background:white;
    width:80%;
    max-width: 650px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
    text-align: left;
}
.wrapper{
    top:50%
}


/* side panel */
/* ref: https://www.w3schools.com/howto/howto_js_sidenav.asp */
.sidepannel {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 56px;
    box-shadow: 2px 0px 20px -10px rgba(0,0,0,0.5);
  }
  
  .sidepannel_content{
    padding: 60px;
    text-align: left;
  }

  .sidepannel a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #333333;
    display: block;
    transition: 0.3s;
  }
  
  .sidepannel a:hover {
    color: #707070;
  }
  
  .sidepannel .closebtn {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  .editor_actions{
    background: #f9f9f9;
    padding:20px;
    border-radius: 10px;
    margin-bottom: 30px;
  }


  #main {
    transition: margin-right .5s;
    min-height: 1000px;
  }



  .card_display{
      padding: 20px;
  }

  .card_oneline_text{ 
    font-size: 14px;
    vertical-align: middle;
    margin:0;
    float: right;
    /* margin:5px;
    margin-left: 10px; */

  }

  .card_long_text{ 
    font-size: 14px;
    margin:0;
    /* padding-bottom: 10px; */
  }

  .mdl-chip {
    line-height: 25px;
    height: 25px;
  }

  .mdl-shadow--2dp{
    transition: 0.3s;
  }
  .mdl-shadow--2dp:hover{

    box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.3);
  }

  .accent_color{
    color: #ff4081;
  }

  .accent_color2{
    color: rgb(63,81,181);
  }
  .card_action{
      margin-top:10px;
  }

  .fab{
    margin: 50px;
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  }

  .hidden{
      display: none;
  }

  a{
    cursor: pointer;
  }

  .sidepannel_title{
    font-size: 20px;padding: 10px;
  }