body{
    text-align:center;
    background:#f9f9f9;

}
.content{
    background:white;
    width:40%;
    padding:60px;
    margin-left:auto;
    margin-right:auto;
    margin-top:70px;
}
.wrapper{
    top:50%
}